<h1 class="pageTitle">{{title}}</h1>
<button class="addBtn" (click)="createForm()">ADD</button>
<form id="item-form" #f="ngForm" (ngSubmit)="addItem(f)" *ngIf="newItemForm">
    <h1 class="newItem">New Item</h1>
    <label for="product">Product Name</label>
    <input type="text" id="product" name="product" ngModel>
    <label for="price">Price</label>
    <input type="number" id="price" name="price" ngModel>
    <label for="quantity">quantity</label>
    <input type="number" id="quantity" name="quantity" ngModel>
    <button class="submitBtn" type="submit">Add to List</button>
</form>
<div class="productIndex">
<h1>#</h1>
<h1>Product</h1>
<h1>Price</h1>
<h1>Quantity</h1>
</div>
<ul class="productList" *ngFor='let item of items; index as i'>
    <li> {{item.id}} </li>
    <li> {{item.product}} </li>
    <li> {{item.price}} </li>
    <li> {{item.quantity}} </li>
    <button class="deleteBtn" (click)="delete([i])">DELETE</button>
</ul>
